@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

[data-theme="venturarodriguezxyz"] {
  html,
  body {
    @apply bg-base-200 font-lato text-base-content;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-playfair;
  }

  p,
  span,
  a {
    @apply font-lato;
  }

  a {
    @apply transition-colors duration-200;
  }

  .link-primary {
    @apply text-primary-content;
    &:hover {
      @apply text-accent;
    }
  }

  .btn-ghost:hover,
  .btn-link:hover,
  a:hover {
    @apply text-primary-content;
  }

  .btn-error {
    @apply bg-error text-error-content border-none;
  }

  button:disabled.btn-neutral {
    @apply bg-neutral/60;
  }

  button:disabled.btn-outline {
    @apply bg-neutral/20;
  }

  button:disabled.btn-error {
    @apply bg-error/60;
  }

  .input-neutral {
    @apply text-base-content;
  }

  .prose {
    @apply text-base-content;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply text-base-content;
  }

  .prose a {
    @apply text-accent underline decoration-accent underline-offset-2;
  }
}
