@plugin "daisyui/theme" {
  name: "venturarodriguezxyz";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f7f5ef;
  --color-base-200: #f4f1e8;
  --color-base-300: #efe8dc;
  --color-base-content: #2b2b2b;
  --color-primary: #5e7f52;
  --color-primary-content: #ffffff;
  --color-secondary: #7c7f52;
  --color-secondary-content: #ffffff;
  --color-accent: #4a2c2a;
  --color-accent-content: #ffffff;
  --color-neutral: #c7b199;
  --color-neutral-content: #ffffff;
  --color-info: #1d2d44;
  --color-info-content: #ffffff;
  --color-success: #3a8b7a;
  --color-success-content: #ffffff;
  --color-warning: #5c3a8b;
  --color-warning-content: #ffffff;
  --color-error: #8b3a3a;
  --color-error-content: #ffffff;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
