---
import MainLayout from "../layouts/Main.astro";
---

<MainLayout>
  <section
    class="grid place-content-center min-h-[var(--splash-height)] bg-black"
  >
    <footer class="">
      <address class="font-ChakraPetch">Ventura Rodríguez ツ</address>
    </footer>
  </section>
</MainLayout>
