---
import MainLayout from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout>
  <Header />
  <div
    class="md:h-[calc(100vh-3.5rem-3.5rem)] h-[calc(100vh-152px-3rem)] w-screen bg-primary text-base-200"
  >
    <div
      class="flex flex-col items-center justify-center h-full px-8 max-md:px-4"
    >
      <p class="text-center text-2xl max-md:text-xl">
        I'm currently working on the content of my website, please check back
        soon!
      </p>
      <p class="text-center text-2xl max-md:text-xl">
        In the meantime, you can check out my Portfolio, GitHub, or LinkedIn.
      </p>
    </div>
    <!-- <div class="flex items-center justify-center">
      <a href="/swapper" class="btn btn-ghost btn-xl">Swapper</a>
    </div> -->
  </div>
  <Footer />
</MainLayout>
