<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <title>Ventura Rodríguez ツ</title>
  </head>
  <body class="grid place-content-center min-h-screen">
    <p class="text-center">
      Hey there! Welcome to my personal website. Currently is empty space, <br
      />but I'm actively working on posting engaging content very soon. Stay
      tuned for updates!
    </p>
  </body>
</html>
