---
import MainLayout from "../layouts/Main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SwapForm from "../components/SwapForm.svelte";
import NetworkSwitcherButton from "../components/NetworkSwitcherButton.svelte";
---

<MainLayout>
  <Header />
  <div
    class="md:min-h-[calc(100vh-3.5rem-3.5rem)] min-h-[calc(100vh-152px-3rem)] w-screen bg-neutral"
  >
    <div class="pt-4 pl-8">
      <NetworkSwitcherButton client:load />
    </div>
    <div class="w-full pb-24 pt-12">
      <SwapForm client:load />
    </div>
  </div>
  <Footer />
</MainLayout>
