---
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
---

<footer
  class="md:h-14 grid grid-cols-3 bg-primary px-8 max-md:px-4 max-md:grid-cols-1 max-md:grid-rows-3 max-md:space-y-4 max-md:py-4"
>
  <span
    class="flex items-center space-x-2 text-primary-content md:col-span-1 min-w-max"
  >
    <address class="not-italic font-playfair cursor-default">
      Ventura Rodríguez
    </address>
    <div class="cursor-default">-</div>
    <span class="cursor-default">Web3 Specialist</span>
  </span>
  <ul class="flex items-center md:justify-center space-x-3 md:col-span-1">
    <li class="grid place-content-center">
      <a
        href="https://www.linkedin.com/in/ventura-rodriguez/"
        target="_blank"
        rel="noopener noreferrer"
        class="child:w-8 child:h-8 link link-primary"
        aria-label="LinkedIn"
      >
        <LinkedInIcon />
      </a>
    </li>
    <li class="grid place-content-center">
      <a
        href="https://github.com/venturars"
        target="_blank"
        rel="noopener noreferrer"
        class="child:w-8 child:h-8 link link-primary"
        aria-label="GitHub"
      >
        <GitHubIcon />
      </a>
    </li>
  </ul>
  <ul class="flex items-center md:justify-end space-x-2 md:col-span-1">
    <li>
      <a
        href="/terms-of-use"
        class="link link-primary no-underline"
        target="_blank">Terms of use</a
      >
    </li>
    <div class="cursor-default text-primary-content">|</div>
    <li>
      <a
        href="/privacy-policy"
        class="link link-primary no-underline"
        target="_blank">Privacy policy</a
      >
    </li>
  </ul>
</footer>
