<header class="md:h-14 h-12 flex px-2">
  <ul class="flex space-x-3 md:space-x-4 h-full w-full">
    <div class="grid place-content-center mr-auto">
      <span class="md:text-4xl text-2xl font-normal p-2 cursor-default">ツ</span
      >
    </div>
    <li class="grid place-content-center">
      <a
        href="/curriculum.pdf"
        target="_blank"
        class="btn btn-ghost max-md:btn-sm">Curriculum</a
      >
    </li>
    <li class="grid place-content-center">
      <a
        href="/portfolio.pdf"
        target="_blank"
        class="btn btn-ghost max-md:btn-sm">Portfolio</a
      >
    </li>
    <!-- <li class="grid place-content-center">
      <a href="" class="btn btn-ghost">Contact</a>
    </li> -->
  </ul>
</header>
