---
import AppKitButton from "./AppKitButton.astro";
---

<header
  class="md:h-14 h-12 flex px-8 max-md:px-4 bg-primary text-primary-content"
>
  <ul class="flex items-center space-x-4 h-full w-full">
    <li class="grid place-content-center">
      <a href="/" class="link link-primary no-underline">Website</a>
    </li>
    <div>|</div>
    <li class="grid place-content-center">
      <a
        href="/curriculum.pdf"
        target="_blank"
        class="link link-primary no-underline">Curriculum</a
      >
    </li>
    <div>|</div>
    <li class="grid place-content-center">
      <a
        href="https://portfolio.venturarodriguez.xyz"
        target="_blank"
        class="link link-primary no-underline">Portfolio</a
      >
    </li>
  </ul>
  <AppKitButton />
</header>
