---
import AppKitButton from "./AppKitButton.astro";
import EN from "../locales/EN.json";
---

<header
  class="md:h-14 h-12 flex px-8 max-md:px-4 bg-primary text-primary-content"
>
  <ul class="flex items-center space-x-4 h-full w-full">
    {
      EN.header.links.map((item, index) => (
        <>
          <li class="grid place-content-center">
            <a
              href={item.href}
              target={item.external ? "_blank" : undefined}
              rel={item.external ? "noopener noreferrer" : undefined}
              class="link link-primary no-underline"
            >
              {item.label}
            </a>
          </li>
          {index < EN.header.links.length - 1 && <li aria-hidden="true">|</li>}
        </>
      ))
    }
  </ul>
  <AppKitButton />
</header>
